[Desktop Entry]
Name=NmapSI4 - User mode
Comment=Is a Qt6 interface for nmap scanner
Comment[ru]=Qt6 интерфейс для сканера nmap
Comment[uk]=Qt6 інтерфейс для сканера nmap
Comment[it]=Interfaccia Qt6 per nmap
Exec=nmapsi4
Icon=nmapsi4
Terminal=false
Type=Application
Categories=Qt;System;Security;
